/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700,700italic,300italic,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/_reset.scss */
html, body {
  height: 100%;
}

/* line 37, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../scss/_global.scss */
html {
  font-family: 'Open Sans', sans-serif;
}

/* line 20, ../scss/_global.scss */
h2 {
  font-family: 'Vollkorn', sans-serif;
}

/* line 24, ../scss/_global.scss */
.content-box {
  padding: 10px;
  border: solid 1px black;
  border-radius: 15px;
}

/* line 29, ../scss/_global.scss */
.logo {
  width: 30px;
  height: auto;
  border-radius: 45px;
}

/* line 34, ../scss/_global.scss */
a {
  color: #bd835d;
}
/* line 37, ../scss/_global.scss */
a:hover, a:focus {
  color: #7c553c;
  text-decoration: none;
}

/* line 44, ../scss/_global.scss */
.brown {
  color: #bd835d;
}

/* line 48, ../scss/_global.scss */
.underlined {
  text-decoration: underline;
}

/* line 52, ../scss/_global.scss */
.selected {
  color: #7c553c;
  text-decoration: none;
}

/* line 57, ../scss/_global.scss */
.content {
  height: 100%;
}

/* line 61, ../scss/_global.scss */
.hidden {
  opacity: 0;
}

/* line 65, ../scss/_global.scss */
.visible {
  opacity: 1;
}

/* line 69, ../scss/_global.scss */
.mr0 {
  margin-right: 0px;
}

/* line 70, ../scss/_global.scss */
.mr10 {
  margin-right: 10px;
}

/* line 71, ../scss/_global.scss */
.mr15 {
  margin-right: 15px;
}

/* line 72, ../scss/_global.scss */
.mr20 {
  margin-right: 20px;
}

/* line 73, ../scss/_global.scss */
.mr30 {
  margin-right: 30px;
}

/* line 74, ../scss/_global.scss */
.mr40 {
  margin-right: 40px;
}

/* line 75, ../scss/_global.scss */
.mr50 {
  margin-right: 50px;
}

/* line 77, ../scss/_global.scss */
.ml0 {
  margin-left: 0px;
}

/* line 78, ../scss/_global.scss */
.ml10 {
  margin-left: 10px;
}

/* line 79, ../scss/_global.scss */
.ml15 {
  margin-left: 15px;
}

/* line 80, ../scss/_global.scss */
.ml20 {
  margin-left: 20px;
}

/* line 81, ../scss/_global.scss */
.ml30 {
  margin-left: 30px;
}

/* line 82, ../scss/_global.scss */
.ml40 {
  margin-left: 40px;
}

/* line 83, ../scss/_global.scss */
.ml50 {
  margin-left: 50px;
}

/* line 85, ../scss/_global.scss */
.mt0 {
  margin-top: 0px;
}

/* line 86, ../scss/_global.scss */
.mt5 {
  margin-top: 5px;
}

/* line 87, ../scss/_global.scss */
.mt10 {
  margin-top: 10px;
}

/* line 88, ../scss/_global.scss */
.mt15 {
  margin-top: 15px;
}

/* line 89, ../scss/_global.scss */
.mt20 {
  margin-top: 20px;
}

/* line 90, ../scss/_global.scss */
.mt30 {
  margin-top: 30px;
}

/* line 91, ../scss/_global.scss */
.mt40 {
  margin-top: 40px;
}

/* line 92, ../scss/_global.scss */
.mt50 {
  margin-top: 50px;
}

/* line 93, ../scss/_global.scss */
.mt60 {
  margin-top: 60px;
}

/* line 94, ../scss/_global.scss */
.mt70 {
  margin-top: 70px;
}

/* line 95, ../scss/_global.scss */
.mt80 {
  margin-top: 80px;
}

/* line 96, ../scss/_global.scss */
.mt90 {
  margin-top: 90px;
}

/* line 97, ../scss/_global.scss */
.mt100 {
  margin-top: 100px;
}

/* line 98, ../scss/_global.scss */
.mt110 {
  margin-top: 110px;
}

/* line 99, ../scss/_global.scss */
.mt120 {
  margin-top: 120px;
}

/* line 101, ../scss/_global.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 102, ../scss/_global.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 103, ../scss/_global.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 104, ../scss/_global.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 105, ../scss/_global.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 106, ../scss/_global.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 107, ../scss/_global.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 108, ../scss/_global.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 109, ../scss/_global.scss */
.mb60 {
  margin-bottom: 60px;
}

/* line 110, ../scss/_global.scss */
.mb70 {
  margin-bottom: 70px;
}

/* line 111, ../scss/_global.scss */
.mb80 {
  margin-bottom: 80px;
}

/* line 112, ../scss/_global.scss */
.mb90 {
  margin-bottom: 90px;
}

/* line 113, ../scss/_global.scss */
.mb100 {
  margin-bottom: 100px;
}

/* line 115, ../scss/_global.scss */
.pt0 {
  padding-top: 0px;
}

/* line 116, ../scss/_global.scss */
.pt5 {
  padding-top: 5px;
}

/* line 117, ../scss/_global.scss */
.pt10 {
  padding-top: 10px;
}

/* line 118, ../scss/_global.scss */
.pt15 {
  padding-top: 15px;
}

/* line 119, ../scss/_global.scss */
.pt20 {
  padding-top: 20px;
}

/* line 120, ../scss/_global.scss */
.pt30 {
  padding-top: 30px;
}

/* line 121, ../scss/_global.scss */
.pt40 {
  padding-top: 40px;
}

/* line 122, ../scss/_global.scss */
.pt50 {
  padding-top: 50px;
}

/* line 123, ../scss/_global.scss */
.pt60 {
  padding-top: 60px;
}

/* line 124, ../scss/_global.scss */
.pt70 {
  padding-top: 70px;
}

/* line 125, ../scss/_global.scss */
.pt80 {
  padding-top: 80px;
}

/* line 126, ../scss/_global.scss */
.pt90 {
  padding-top: 90px;
}

/* line 127, ../scss/_global.scss */
.pt100 {
  padding-top: 100px;
}

/* line 128, ../scss/_global.scss */
.pt110 {
  padding-top: 110px;
}

/* line 129, ../scss/_global.scss */
.pt120 {
  padding-top: 120px;
}

/* line 131, ../scss/_global.scss */
.pb0 {
  padding-bottom: 0px;
}

/* line 132, ../scss/_global.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 133, ../scss/_global.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 134, ../scss/_global.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 135, ../scss/_global.scss */
.pb25 {
  padding-bottom: 25px;
}

/* line 136, ../scss/_global.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 137, ../scss/_global.scss */
.pb40 {
  padding-bottom: 40px;
}

/* line 138, ../scss/_global.scss */
.pb50 {
  padding-bottom: 50px;
}

/* line 139, ../scss/_global.scss */
.pb60 {
  padding-bottom: 60px;
}

/* line 140, ../scss/_global.scss */
.pb70 {
  padding-bottom: 70px;
}

/* line 141, ../scss/_global.scss */
.pb80 {
  padding-bottom: 80px;
}

/* line 142, ../scss/_global.scss */
.pb90 {
  padding-bottom: 90px;
}

/* line 143, ../scss/_global.scss */
.pb100 {
  padding-bottom: 100px;
}

/* line 145, ../scss/_global.scss */
.pl10 {
  padding-left: 10px;
}

/* line 146, ../scss/_global.scss */
.pl20 {
  padding-left: 30px;
}

/* line 147, ../scss/_global.scss */
.pl30 {
  padding-left: 30px;
}

/* line 149, ../scss/_global.scss */
.pr10 {
  padding-right: 10px;
}

/* line 150, ../scss/_global.scss */
.pr20 {
  padding-right: 20px;
}

/* line 151, ../scss/_global.scss */
.pr30 {
  padding-right: 30px;
}

/* line 153, ../scss/_global.scss */
.display-inline {
  display: inline-block;
  float: none;
  vertical-align: middle;
  width: 49%;
}
@media (max-width: 767px) {
  /* line 153, ../scss/_global.scss */
  .display-inline {
    width: 100%;
  }
}

/* line 164, ../scss/_global.scss */
.hidden-div {
  opacity: 0;
}

/* line 168, ../scss/_global.scss */
.visible-div {
  opacity: 1;
}

/* line 172, ../scss/_global.scss */
.center-margin {
  margin: 0 auto;
}

/* line 2, ../scss/_email.scss */
.email .check {
  margin: 0;
}

/* line 1, ../scss/_sidebar.scss */
.option {
  display: block;
}
/* line 3, ../scss/_sidebar.scss */
.option:hover {
  background-color: #ddd;
}

/*# sourceMappingURL=main.css.map */
